azure==1.0.3
azure-common==1.1.4
azure-graphrbac==0.30.0rc6
azure-mgmt==0.20.2
azure-mgmt-authorization==0.30.0rc6
azure-mgmt-compute==0.32.1
azure-mgmt-containerregistry==0.1.0
azure-mgmt-dns==0.30.0rc6
azure-mgmt-network==0.30.0rc6
azure-mgmt-nspkg==1.0.0
azure-mgmt-resource==0.30.2
azure-mgmt-storage==0.30.0rc6
azure-mgmt-trafficmanager==0.30.0rc6
azure-mgmt-web==0.30.1
azure-nspkg==1.0.0
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.2
azure-storage==0.33.0
msrestazure==0.4.5